[user]
	user = Kovaxs
	email = 42751978+Kovaxs@users.noreply.github.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
